$card-max-width: 95%
$card-max-height: 100vh
$border-radius: 15px
$height-space: 10vh

.g-card-width
  width: $card-max-width

.g-card-height
  width: $card-max-height

.g-border-radius
  border-radius: $border-radius

.g-height-space
  min-height: $height-space
